.row.new_image
  .col-md-12
    %h4
      Upload new image
    = form_for @new_image do |f|
      = image_tag @new_image.image.url if @new_image.image?
      = f.label :image
      = f.file_field :image
      = f.hidden_field :image_cache
      = f.submit

.row.gallery
  .col-md-12
    %h4
      Uploaded images

    = paginate @images, window: 3, outer_window: 1

    .card-columns
      - @images.each do |image|
        .card.card-inverse.image
          = lazy_image_resource image, :image, class: "card-img"
          = link_to image_path(image), class: "card-img-overlay image-info" do
            %p.card-text.size
              = "#{image.width}x#{image.height}"
          = link_to image_path(image), method: :delete, class: "button_delete" do
            %button.close{ "aria-label" => "Close" }
              %span{ "aria-hidden" => true } &times;

    = paginate @images, window: 3, outer_window: 1
