.card-group
  .card.image
    = image_tag @image.image.url, class: "card-img img-fluid"
  .card.info
    .card-block
      .card-text
        %dl
          %dt URL
          %dd= @image.image.url
          %dt Size
          %dd= "#{@image.width}x#{@image.height}"
          %dt Uploaded at
          %dd= @image.created_at
